extends layout.pug

block content
  form(method="post". action="/create")
    fieldset
      legend Create User
      input(type="text", name="firstName", placeholder="firstName", required)
      input(type="text", name="lastName", placeholder="lastName", required)
      input(type="text", name="email", placeholder="email", required)
      input(type="text", name="password", placeholder="password", required)
      input(type="text", name="confirmedPassword", placeholder="confirmedPassword", required)
      input(type="hidden", name="_csurf", value=csurfToken)
    button(type="submit") Create this uninteresting user 😐
  
  
  
  
  
  
  
  
  
  
  //- form.pure-form(method="post", action="/pets")
  //-   fieldset
  //-     legend Create a pet
  //-     input(type="text", name="name", placeholder="name", required)
  //-     input(type="number", name="age", placeholder="age", required)
  //-     select(name="typeId")
  //-       each petType in petTypes
  //-         option(value=petType.id)= petType.type
  //-     select(name="ownerIds" multiple)
  //-       each owner in owners
  //-         option(value=owner.id) #{owner.lastName}, #{owner.firstName}
  //-     button(type="submit") Create this pet
